parameters:
    level: 9
    paths:
        - src
        - tests
    phpVersion: 80200
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            message: '#Cannot access offset .* on mixed#'
            path: tests/*
        -
            message: '#Parameter .* expects .*, mixed given#'
            path: tests/*
